#about-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 35%;
}

#about-us img{ 
  width: 200px;
}

@media screen and (max-width: 1000px) {
  #about-us{
    width: 100%;
    padding: 40px;
  }
}