.card {
    width: 32%;
    padding: 10px;
}

.card h3 {
    color: var(--baseColor);
    font-weight: bold;
}

.card-image {
    width: 100%;
    height: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 4px;
}

.card-text {
    width: 100%;
}

#card-section h2 {
    color: var(--baseColor);
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

#card-section .card-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
	#card-section .card-container {
		width: 100%;
		flex-direction: column;
    	justify-content: center;
		align-items: center;
	}
	.card {
		width: 100%;
		margin-bottom: 15px;
	}
}