.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32%;
}

.card h3 {
  color: var(--baseColor);
  font-weight: bold;
}

.card-image{
  width: 40%;
  height: 100%;
  background-image: url("../../images/cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.card-text{
  width: 60%;
}
#card-section h2 {
  color: var(--baseColor);
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
#card-section .card-container {
  display: flex;
  justify-content: space-between;
}
